*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}
.carousel-caption {
    top: 100px;    
}
.carousel-caption  h5 {
    font-size: 65px;   
    letter-spacing: 2px;
    margin-top: 25px;
    font-family: merienda;
    font-weight: 900;
    width: 50%;
}
.carousel-caption  p {
    width: 40%;
    margin-left: 50px;
    font-size: 18px;
    line-height: 1.9;
    font-family: poppins;
}
.carousel-caption  a {
    text-transform: uppercase;
    background: #262626;
    padding: 10px 30px;
    display: inline-block;
    color: #fff;
    margin-top: 15px;
}
.carousel-caption  a:hover {
    text-decoration: none;
}
nav.black {
    background: rgba(141, 139, 139, 0.8);
    height: 80px;
    padding: 10px 50px;
}
.navbar-nav a {
    font-family: poppins;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar-light .navbar-brand {
    color: #fff !important;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;    
}
.navbar-brand:hover {
    color: #000 !important;
}
 nav.black .navbar-brand {
     color: #000 !important;
 }
 .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #fff !important;
}
 .navbar-light .navbar-nav .nav-link {
    color: #fff !important;
}
.navbar-nav {
    text-align: center;
}
.nav-link {
    padding:  .2rem 1rem;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: #000 !important;
}
.w-100 {
    height: 100vh;
}
.search{
    position: absolute;
    top: 100%;
    left: 10%;
    transform: translateY(-50%);
    padding: 20px 0 20px 60px;
    min-height: 60px;
    width: 80%;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}        
.container-1 {
    padding: 20px 0;
}
.form-control {
    background-color: lavender;
}
#rooms {
    width: 28%;
    background-color: lavender;
    margin-right: 80px;
    margin-left: 20px;
}
.blog-post__ct {
    display: inline-block;                              
    padding: 4px 8px 4px 8px;                   
    background-color: blue;
    text-decoration: none;
}
.blog-post__ct:hover {
    background-color: lightblue;
    text-decoration: none;
}
#about{
    position: relative;
    width: 100%;
    display: flex;
    margin-top: 40px;
}
#about .contentBx{
    background: transparent;
    padding: 130px;
    width: 50%;
}
#about .contentBx h4{
    color: royalblue;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-transform: uppercase;  
}
#about .contentBx h2{
    color: #000;
    font-size: 35px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
#about .contentBx p{
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-align: justify;
}
#about .contentBx .button {
    background-color: royalblue;
    color: #fff;
    padding: 15px 30px;
    border: none;
}
.imgBx{
    width: 50%;
    padding: 130px;
}
.row{    
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.row .column{
    max-width: 65%;
    flex: 45%;
    padding: 0 4px;
}
.row .column .aa img{
    width: 204%;
}
.column img{
    width: 100%;
    margin-top: 10px;
    vertical-align: middle;
}
.cont{
    position: relative;
    max-width: 650px;
    text-align: center;
    padding: 49px;
}
 .cont h5{
    color: royalblue;
    font-size: 12px;
    text-transform: uppercase;
}
.cont h2{
    color: #fff;
    font-size: 28px;
}
#about1 {
    height: 100vh;   
    background-image: url(./design/michael.jpg);
    background-size: cover;
    background-repeat: no-repeat ;
    margin-top: 0;
}

#about1 .card-body img{
    margin-top: 0px;
   background-color: royalblue;
    padding: 8px;
}
#about1 h3{
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

#about1 p{
    font-weight: 500;
    text-align: justify;
}
#about1 .card{
    border: none;
    background-color: #fff;    
}   
#about1 .carousel-control-prev {
    bottom: 270px;    
}
#about1 .carousel-control-next {
    bottom: 270px;        
}
.container {
    position: relative;
    padding: 40px 0;
   
}
.tem-info {
position: relative;
padding: 49px;
       
}
.tem-info h6 {
text-transform: uppercase;
color: royalblue;
}
.tem-info h3{
color: #000;
font-weight: 800;
}
.img-responsive {
width: 100%;
}
#testimonials .carousel-indicators {
    top: 330px;
    right: 65%;   
}
#testimonials .carousel-indicators li {           
    background-color: #000 !important;
    border-radius: 70%;
    width: 10px;
    height: 3px;
    border-top: none !important;
    border-bottom: none !important;
}
#restaurant .box {
    width: 100%;
    height: 100vh;               
    align-items: center;
    justify-content: center;
    background-color: #fff;
    top: 50px;
}

.res {
    position: relative;
    padding: 49px 120px;
    max-width: 650px;                       
}
.res h6 {
    font-size: 13px;
    text-transform: uppercase;
    color: royalblue;
}
.res h3{
    color: #000;
    font-weight: 800;
    font-size: 32px;
}                    

.box .row{    
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-left: 0px;
    margin-right: 0px;
}
.box .row .column{
    max-width: 65%;
    flex: 45%;
    padding: 0 4px;                  
    
}        
.box .column img {                   
    width: 100%;            
    vertical-align: middle;
}       

.blog-post {
    width: 100%;
    max-width: 40rem;      
    background-color: rgb(241, 236, 236);       
    display: flex;
    align-items: center;
    margin: 10px auto;
    
}
.blog-post__img {
    min-width: 13rem;
    max-width: 13rem;
   height: 13rem;              
   position: relative;
   top: -10px;
}
.blog-post__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;                     
        
}
.blog-post__img::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
   }
.blog-post__info {
padding-left: 15px;
}

.blog-post h6{
    margin: 0px;
    font-size: 0.6rem;       
    text-transform: uppercase;
    color: royalblue;
}
.blog-post h4{
    font-size: 1.3rem;
    margin: 0;        
    color: #000;
}
.blog-post p {
    font-size: 1rem;
    margin: 1rem 0;        
    color: rgb(58, 56, 56);
}
    .blog-post__cta {
        display: inline-block;                              
        padding: 0 8px 4px 8px;                   
        background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
        text-decoration: none;
    }
    .blog-post__cta  .read {
        position: absolute;
        bottom: 10px;
        right: 10px; 
    }
    .blog-post__cta:hover {
        background-image: linear-gradient(to right, #00f2fe 0%, #4facfe 100%);
        text-decoration: none;
    }
    #blog{
        margin-top: 40px;
    }
.blog {
position: relative;
padding: 29px 120px;
max-width: 650px;                       
}
.blog h6 {
font-size: 13px;
text-transform: uppercase;
color: royalblue;
}
.blog h3{
color: #000;
font-weight: 800;
font-size: 32px;
}    
.b {
max-width: 800px;
margin: 50px auto 0;
display: table;
box-sizing: border-box;
}
.row-1 {
margin: 10px 0;
}
.row-1 .column {
background: #ccc;
display: table-cell;
padding-top: 10px;
width: 33.33333%;
text-align: center;
color: #fff;
vertical-align: middle;
border-right: 10px solid #fff;
border-left: 10px solid #fff;
}
.row-1 .image {
min-width: 350px;
max-width: 350px;
height: 15rem;              
position: relative;
top: -20px;
}
.row-1 .image img {
width: 100%;
height: 100%;
object-fit: cover;
display: block; 
}
.row-1 .text {
position: relative;
align-items: center;
padding: 0 22px;
}
.row-1 .text  h6 {
color: royalblue;
font-size: 10px;
text-align: center;
font-weight: 700;
text-transform: uppercase;
}
.row-1 .text  h3{
color: #000;
font-size: 18px;
font-weight: 800;
}
.row-1 .text p {
color: #fff;
font-size: 15px;
}
.photos {
    position: relative;
    padding: 49px 130px;
    max-width: 650px;                       
}
.photos h6 {
    font-size: 11px;
    text-transform: uppercase;
    color: royalblue;
}
.photos h3{
    color: #000;
    font-weight: 800;
    font-size: 32px;
} 
.photo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.photo .card {
   border: none;
}    
.photo .card-body{
        max-width:  300px;
        min-width: 300px;
        height: 18rem;
        position: relative;
        padding: 0;
    }
.photo .card-body img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
.body-content {
width: 100%;
padding: 20px;
text-align: justify;
box-sizing: border-box;
font-size: 18px;
line-height: 40px;
}
.photo .carousel-control-prev {
    bottom: 270px;    
}
.photo .carousel-control-next {
    bottom: 270px;        
}
.footer {
    width: 100%;
    background-color: #00121b;
    display: block;
}
.inner-footer {
    width: 95%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}
.footer-items {
width: 25%;
padding: 10px 20px;
box-sizing: border-box;
}
.footer-items h1 {
padding: 10px 0;
font-size: 25px;
color: #fff;  
text-transform: capitalize;         
}
.footer-items p {
color: grey;
font-size: 16px;
text-align: justify;
line-height: 25px;
}
.footer-items h2 {
margin: 10px 0;
color: grey;
font-size: 16px;
font-weight: lighter;            
}
.footer-items ul {
list-style: none;
color: #fff;
font-size: 15px;
letter-spacing: 0.5px;
}
.footer-items ul a {
text-decoration: none;
outline: none;
color: #fff;
transition: 0.3s;
}
.footer-items ul a:hover {
color: #ff9800;
}
.footer-items ul li {
margin: 10px 0;
height: 25px;
}        
.footer-items ul li img {           
padding-right: 12px;
}
.social-media {
width: 100%;
text-align: center;
}
.social-media a {
text-decoration: none;
}
.footer-bottom {
padding: 10px;
background: #3d545f;
color: #fff;
font-size: 12px;
}


@media only screen and (max-width: 992px) {
    .navbar-nav.ml-auto {
        background: rgba(0,0,0,0.5);
    }
    .navbar-toggler {
        padding: 1px 5px;
        font-size: 18px;
        line-height: 0.3;
        background: #fff !important;
    }
    nav.black {
        background: rgba(141, 139, 139, 0.8);
        height: 50px !important;
        padding: 0px 30px 100px 30px !important;
    }
    #example {
        padding: 10px 30px;
    }
    #rooms {
        width: 28%;
        background-color: lavender;
        margin-right: 30px;
        margin-left: 20px;
    }
    #about{
        flex-direction: column;
    }
    #about .contentBx,
    #about .imgBx {
        width: 100%;
        padding: 130px;
        min-height: 400px;
        text-align: center;
    }
    #about1 {
        width: 100%;
        height: 100%;
        background-position: center;
    }
    #blog {
        display: block;
        margin-top: 740px;
    }
    .row-1 .column{
        max-width: 70rem;
        flex-direction: column;
    }
    #blog .image  {
        max-width: 100%;
        min-width: 100%;
    }
    .photo {
        width: 100%;        
    }
    .photo .row {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    .footer-items {
        width: 100%;
    }
     
}

@media screen and (max-width: 1068px) {
    .blog-post {
        max-width: 60rem;

    }
    .blog-post__img {
        min-width: 25rem;
        max-width: 25rem;
    }
    .blog-post__info {
        padding-top: 15px;
   }
   .footer-items {
       width: 50%;
   }
}
@media screen and (max-width: 868px) {
    .blog-post {
        max-width: 70rem;

    }
    .blog-post__info {
        padding-top: 15px;
   }
}
@media screen and (max-width: 768px) {
    .blog-post {
        padding: 2.5rem;
        flex-direction: column;
    }
    .blog-post__img {
        min-width: 100%;
        max-width: 100%;        
    }
    .blog-post__info {
        padding-top: 15px;
   }
}
@media screen and (max-width: 667px) {
    .blog-post {
        padding: .5rem;
        flex-direction: column;
    }
    .blog-post__img {
        min-width: 100%;
        max-width: 100%;        
    }
    .blog-post__info {
        padding-top: 15px;
   }
   
}